/* Variables */

:root {
    --header-font-size: 3rem;
    --footer-font-size: 0.7rem;
    --max-width: 1400px;
}

/* Fonts */
@font-face {
    font-family: 'Retro Gaming';
    src: url('../fonts/candidates/Retro Gaming.ttf') format('truetype');
}

@font-face {
    font-family: 'Vermin Vibes 1989';
    src: url('../fonts/candidates/vermin-vibes.woff2') format('woff2');
}

/* Global Styles / Utility Classes */
html, body {
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    overscroll-behavior: none;
    word-wrap: break-word;
}

html, body, pre, code, kbd, samp {
    font-family: 'Retro Gaming';
}

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
}

img {
    image-rendering: pixelated;
}

.nes-btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #eeeeee;
}

::-webkit-scrollbar:hover {
    background-color: #666666;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    width: 10px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.nes-container {
    margin: 10px;
}

progress {
    /* Plus border, padding, etc */
    height: calc(1rem + 16px) !important;
}

div.progress-text:before {
    content: attr(data-text);
    position: absolute;
    margin-top: 8px;
    margin-left: 12px;
}

/* Layout */

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    cursor: wait;
}

#app {
    width: 100vw;
    max-width: var(--max-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#app > * {
    width: 100vw;
    max-width: var(--max-width);
}

header {
    position: relative;
    text-align: center;
    padding-bottom: 3px;
}

#dropdown {
    position: absolute;
    display: inline;
    left: 8px;
    top: 3px;
    text-align: left;
    z-index: 1;
    vertical-align: top;
}

#dropdown > button {
    vertical-align: top;
}

#dropdown:hover > div {
    display: inline-block;
}

#dropdown > div {
    display: none;
    position: relative;
    width: max-content;
}

#dropdown .nes-container {
    background-color: #ffffff;
    margin: 5px 0 0 0;
}

#connection-status {
    position: absolute;
    display: inline;
    right: 8px;
    top: 3px;
    font-size: 1.5rem;
}

#connection-status:hover::before {
    all: initial;
    display: inline-block;
    padding: 8px;
    font-family: 'Retro Gaming';
    content: attr(data-content);
    color: #f9f9f9;
    border: 3px solid #1a1a1a;
    border-radius: 6px;
    background-color: #1a1a1a;
    position: absolute;
    width: max-content;
    white-space: pre-wrap;
    max-width: 250px;
    top: 50%;
    right: 100%;
    margin-right: 10px;
    text-align: center;
    font-size: 0.75rem;
    z-index: 1;
}

/* TODO: main doesn't stretch when it has minimal content */
main {
    align-self: stretch;
}

footer {
    padding: 2px 0 1px 0;
    align-self: flex-end;
}

dialog {
    width: 80vw;
    max-width: 650px;
}

/* Header / Footer styles */

header h1 {
    font-family: 'Vermin Vibes 1989';
    font-size: var(--header-font-size);
    line-height: var(--header-font-size);
    color: #f30000;
    text-shadow: #93c22e 1px 1px 0px, #93c22e 2px 2px 0px, #93c22e 3px 3px 0px, #93c22e 4px 4px 0px, #93c22e 5px 5px 0px, #93c22e 6px 6px 0px, #93c22e 7px 7px 0px, #93c22e 8px 8px 0px, #93c22e 9px 9px 0px, #93c22e 10px 10px 0px;
}

header img {
    height: calc(var(--header-font-size) * 0.75);
    width: calc(var(--header-font-size) * 0.75);
    vertical-align: text-top;
}

footer p {
    margin: 0;
    font-size: var(--footer-font-size);
}

/* Login styles */
#login-dialog form > *:not(:last-child) {
    margin-bottom: 10px;
}
