/* Variables */

:root {
    --font-size: 18px;
    --header-font-size: 6.1vw;
    --footer-font-size: 12px;
    --max-width: 1400px;
}

@media (min-width: 1200px) {
  :root {
     --header-font-size: 74px;
  }
}

/* Fonts */
@font-face {
    font-family: 'Tomato Text';
    src: url('../fonts/text.woff2') format('woff2');
}

@font-face {
    font-family: 'Tomato Header';
    src: url('../fonts/title.otf') format('opentype');
}

@font-face {
    font-family: 'Tomato Arrows';
    src: url('../fonts/arrows.ttf') format('truetype');
}

/* Global Styles / Utility Classes */

/* cefpython66, in order for @viewport to work and disable pinch zooming we need to
   add the following to CEF's switches
    --enable-experimental-web-platform-features
    --enable-viewport */
@viewport {
    width: device-width;
    user-scalable: no;
    zoom: 1.0;
    min-zoom: 1.0;
    max-zoom: 1.0;
}

html, body {
    font-size: var(--font-size);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    overscroll-behavior: none;
    word-wrap: break-word;
}

html, body, pre, code, kbd, samp {
    font-family: 'Tomato Text';
}

* {
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
    -webkit-font-smoothing: none;
}

img {
    image-rendering: pixelated;
}

.arrows {
    font-family: 'Tomato Arrows';
}

.scrollable {
    overflow-y: auto;
}

/* Hack to have a padded scrollbar */
.scrollable::-webkit-scrollbar {
    width: 17px;
    border-right: 10px solid #ccc;
}

.scrollable::-webkit-scrollbar:hover {
    border-right: 10px solid #666;
}

.scrollable::-webkit-scrollbar-thumb {
    border-right: 10px solid #000;
}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

.small-btn {
    padding: 0 6px 2px 6px;
}

.nes-container {
    margin: 5px 0;
    padding: 10px;
}

section > .nes-container, main > .nes-container {
    margin-left: 7px;
    margin-right: 7px;
}

.nes-container.with-title > .title {
    margin-top: -1.2rem;
    margin-bottom: 4px;
}

ul {
    margin-bottom: 0;
}

progress {
    /* Plus border, padding, etc */
    height: calc(1rem + 16px) !important;
    width: calc(100% - 8px) !important;
}

progress[value]:before {
    content: attr(data-text-fill);
    position: absolute;
    left: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    right: 44px;
}

/* Layout */

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    cursor: wait;
}

#app {
    width: 100vw;
    max-width: var(--max-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#app > * {
    width: 100vw;
    max-width: var(--max-width);
}

header {
    position: relative;
    text-align: center;
    padding-bottom: 3px;
}

.header-mouseover-common {
    position: absolute;
    display: inline;
    top: 3px;
    z-index: 1;
    vertical-align: top;
}

#dropdown {
    left: 8px;
}

#dropdown > span {
    vertical-align: top;
}

#dropdown .nes-btn {
    margin-top: 6px;
    margin-bottom: 6px;
}

#dropdown:hover > div, #connection-status-asterisk:hover + div {
    display: inline-block;
}

#dropdown > div, #connection-status > div {
    display: none;
    position: relative;
    width: max-content;
    max-width: 85vw;
}

#dropdown .nes-container, #connection-status .nes-container {
    background-color: #ffffff;
    margin: 5px 0 0 0;
    z-index: 999;
}

#connection-status {
    direction: rtl;
    right: 8px;
}

#connection-status-asterisk {
    font-size: 1.5rem;
    vertical-align: top;
}

#conntection-status-bubble {
    direction: ltr;
}

main {
    height: 100%;
    align-self: stretch;
    display: flex;
    align-items: stretch;
}

#waveform-timeline, #waveform-timeline *, #waveform, #waveform * {
    z-index: 0;
}

#play-queue-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}

#play-queue-container > p.title {
    align-self: flex-start;
}

#play-queue-container > div {
    display: flex;
    align-items: stretch;
}

#play-queue-container > div > div {
    width: 100%;
}

footer {
    padding: 2px 0 1px 0;
    align-self: flex-end;
}

dialog {
    width: 80vw;
    max-width: 750px;
}

/* Header / Footer styles */

header h1 {
    font-family: 'Tomato Header';
    font-size: var(--header-font-size);
    line-height: var(--header-font-size);
    color: #f30000;
    text-shadow: #93c22e 1px 1px 0px, #93c22e 2px 2px 0px, #93c22e 3px 3px 0px, #93c22e 4px 4px 0px, #93c22e 5px 5px 0px, #93c22e 6px 6px 0px, #93c22e 7px 7px 0px, #93c22e 8px 8px 0px, #93c22e 9px 9px 0px, #93c22e 10px 10px 0px;
}

header img {
    height: calc(var(--header-font-size) * 0.75);
    width: calc(var(--header-font-size) * 0.75);
    vertical-align: text-top;
}

footer p {
    margin: 0;
    font-size: var(--footer-font-size);
}

/* Dialog styles */

#login-dialog form > *:not(:last-child) {
    margin-bottom: 10px;
}

#first-sync-dialog {
    cursor: wait;
}
