*.pyc
*.sublime-*
.DS_Store
.pytest_cache
__pycache__/
venv/

# Server
/server/local_settings.py
/server/static/
/server/uploads/

# Client
/client/blob_storage
/client/build/
/client/dist/
/client/error.log
/client/webrtc_event_logs
/client/*.spec
