.DS_Store
__pycache__/
venv/
.pytest_cache

# Server
/server/local_settings.py
/server/uploads/
/server/static/

# Client
/client/webrtc_event_logs
/client/blob_storage
/client/error.log
/client/dist/
