<!DOCTYPE html>
<html>
<head>
  <title>Tomato Radio Automation</title>

  <link href="../css/nes-2.3.0.min.css" rel="stylesheet">
  <link href="../css/tachyons-4.11.1.min.css" rel="stylesheet">
  <link href="../css/new-styles.css" rel="stylesheet">
  <style>
    {% for name, hex in colors.items() if not name.endswith('-dark') and not name.endswith('-light') %}
      .nes-btn.is-{{ name}} {
        color: #{{ white_or_black_from_color(colors[name + '-light']) }};
        background-color: #{{ colors[name + '-light'] }};
      }

      .nes-btn.is-{{ name}}::after {
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        content: "";
        box-shadow: inset -4px -4px #{{ colors[name + '-dark'] }};
      }

      .nes-btn.is-{{ name}}:hover {
        color: #{{ white_or_black_from_color(colors[name]) }};
        background-color: #{{ colors[name] }};
      }

      .nes-btn.is-{{ name}}:hover::after {
        box-shadow: inset -6px -6px #{{ colors[name + '-dark'] }};
      }

      .nes-btn.is-{{ name}}:active:not(.is-disabled)::after {
        box-shadow: inset 4px 4px #{{ colors[name + '-dark'] }};
      }
    {% endfor %}
  </style>

  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/wavesurfer-3.3.1.min.js"></script>
  <script src="../js/wavesurfer-3.3.1.timeline.min.js"></script>
  <script src="../js/wavesurfer-3.3.1.cursor.min.js"></script>
  <script>
    {# Dynamically generated JS, and base cef object #}
    var cef;
    var colors = {{ colors|tojson }};

    (function() {
      var generateBridgeCall = function(namespace, method) {
        return function() {
          let args = Array.from(arguments);
          return new Promise(function(resolve, reject) {
            cef.bridge.call(namespace, method, resolve, reject, args);
          });
        };
      };

      cef = {
        'bridge': __cefBridge,
        'conf': {{ conf|tojson }},
        'constants': {{ constants|tojson }},
        {# generate API calls #}
        {% for namespace, methods in js_apis.items() %}
          {{ namespace|tojson }}: {
            {% for method in methods %}
              {{ method|tojson }}: generateBridgeCall(
                {{ namespace|tojson }}, {{ method|tojson}}){% if not loop.last %},{% endif %}
            {% endfor %}
          }{% if not loop.last %},{% endif %}
        {% endfor %}
      };
    })();
  </script>
  <script src="../js/script.js"></script>
</head>
<body>
  <div id="loading"></div>

  <div id="app" class="center">
    <header class="mb2">
      <!-- 1. Convert header contents to flex
           2. Swap status and menu
        -->
      <div id="dropdown-container" class="di z-999 absolute ml1 mt1">
        {# TODO: use something other than buttons to avoid tabbing #}
        <div class="nes-btn btn-primary dib v-top ma2">
          &#x00BB;
        </div>
        <div id="dropdown" class="dn top-1 bg-white nes-container is-rounded" style="max-width: 85vw">
          <p>
            <button class="mv2 nes-btn is-success" onclick="sync();">Sync</button>
            <button class="mv2 nes-btn" onclick="showDevicePickerModal();">Output Device</button>
            <button class="mv2 nes-btn is-primary" onclick="cef.bridge.toggle_fullscreen();">Toggle Fullscreen</button>
            <button class="mv2 nes-btn" onclick="window.open(cef.conf.protocol + '://' + cef.conf.hostname + '/token-login?auth_token=' + cef.conf.auth_token, '_blank');">Admin</button>
            <button class="mv2 nes-btn is-warning" onclick="showModal('logout-dialog');">Logout</button>
            <button class="mv2 nes-btn is-error" onclick="showModal('close-dialog');">Quit</button>
          </p>
        </div>
      </div>

      <div class="di z-999 absolute right-0 mr3" style="direction: rtl">
        <div id="connection-status-asterisk" class="dib mt2 v-top nes-text nes-pointer">
          *
        </div>
        <div id="conntection-status" class="dn top-1 bg-white nes-container is-rounded" style="direction: ltr; max-width: 85vw;">
          This is a test
        </div>
      </div>

      <h1 class="tc ma0">
        <img src="../images/tomato.png">
        Tomato Radio Automation
        <img src="../images/tomato.png">
      </h1>
    </header>

    <section class="mv1">
      <div class="nes-container" style="border-color: #e76e55">
        <p class="nes-text is-error center" style="font-weight: normal;">
          <strong><u>WARNING:</u></strong>
          This is a preview build. The final client will look <em>very different!</em>
        </p>
      </div>
    </section>

    <section class="mv1">
      <div class="nes-container with-title">
        <p class="title">Now Playing<span id="track-title"></span><span style="text-transform: full-width;" id="track-time"></span></p>
        <div id="waveform-timeline" style="height: 11px;"></div>
        {# Relative position fixes cursor #}
        <div id="waveform" style="height: 100px; margin-bottom: 5px; position: relative;"></div>
        <p class="center">
          <button title="Play or Pause" class="nes-btn small-btn is-success arrow" onclick="if (wavesurfer) { wavesurfer.playPause() }">&#x35;&#x31;</button>
          <button class="nes-btn small-btn is-warning arrow" id="next-btn">&#x33;</button>
          <button class="nes-btn small-btn is-primary arrow" onclick="loadBlock();">&#x54;</button>
          {% if conf.debug %}
            <button class="nes-btn small-btn arrow" onclick="sync();">&#x38;</button>
            <button class="nes-btn small-btn is-error arrow" onclick="location.reload()">&#x54;&#x54;&#x54;</button>
          {% endif %}
        </p>

        {# Wait
        <progress class="nes-progress is-primary" value="50" max="100" data-text-fill="test content test content test content test content test content test content test content test content test content"></progress>
        #}

      </div>
    </section>

    <main>
      <div id="play-queue-container" class="nes-container with-title">
        <p class="title">Play Queue</p>
        <div class="scrollable">
          <div id="play-queue"></div>
        </div>
      </div>
    </main>

    <footer>
        <a href="https://github.com/dtcooper/tomato" data-description="github.com/dtcooper/tomato">Tomato</a>
        v{{ constants.VERSION }} &bull; &copy;<script>document.write('' + (new Date()).getFullYear());</script>
        <a href="mailto:david.cooper@burningman.org" data-description="david.cooper@burningman.org">David Cooper</a>
        &amp; <a href="https://bmir.org" data-description="bmir.org">BMIR</a>
    </footer>

  </div>

  {% include 'dialogs.html' %}

</body>
</html>
