{% if errors %}
  <div class="nes-container with-title" style="border-color: #e53935;">
    <p class="title" style="color: #e53935">Error Loading Stop Set</p>
     <ul class="nes-list is-circle">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
  </div>
{% endif %}

{% if stopset %}
  <div class="nes-container with-title">
    <p class="title">Stop Set: {{ stopset }}</p>

    <div class="lists">
      <ul class="nes-list is-circle">
      {% for asset in assets %}
        <li class="nes-pointer asset-item" data-asset-idx="{{ loop.index - 1 }}">
          {{ loop.index }}. <strong>{{ asset.name }}</strong> {% raw %}{{% endraw %}{{ asset.length|prettyduration }}}
          <span style="background-color: #{{ asset.color }}">[Rotator: {{ asset.rotator }}]</span>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

<div class="nes-container with-title">
  <p class="title">Wait</p>
  <p>Wait for {{ wait|prettyduration }}</p>
</div>
