{% if errors %}
  <div class="nes-container with-title" style="border-color: #e53935;">
    <p class="title" style="color: #e53935">Error Loading Stop Set</p>
     <ul class="nes-list is-circle">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
  </div>
{% endif %}

{% if stopset %}
  <div class="nes-container with-title">
    <p class="title">Stop Set: {{ stopset }}</p>

    {% for asset in assets %}
      <p>
        <button
          style="width: 100%"
          class="nes-btn is-{{asset.color }} small-btn asset-item"
          data-asset-idx="{{ loop.index - 1 }}"
        >
          <div class="left">
            <span class="arrows">&#x35;</span>
            {{ loop.index }}. {{ asset.name }}
            - {{ asset.length|prettyduration }}
          </div>
          <div class="right">
            <em>{{ asset.rotator }}</em>
          </div>
        </button>
      </p>
    {% endfor %}
  </div>
{% endif %}

<div class="nes-container with-title">
  <p class="title">Wait</p>
  <p>Wait for {{ wait|prettyduration }}</p>
</div>
