{% extends 'admin/base_site.html' %}

{% block extrahead %}
    {{ block.super }}

    {{ rotation_colors|json_script:'rotation-colors' }}
    <script>
        var rotationColors = JSON.parse(document.getElementById(
            'rotation-colors').textContent);

        $(function() {
            /* Rotations admin */
            var setColorRotationAdmin = function() {
                var color = $('#id_color').val();
                $('.color-preview').css('background-color', '#' + color);
            }

            $('#id_color').change(setColorRotationAdmin);
            setColorRotationAdmin();


            /* StopSets admin */
            var setColorStopSetsAdmin = function($elem) {
                var color = rotationColors[$elem.val()];
                if (!color) {
                    color = 'ffffff';
                }
                $elem.closest('tr, fieldset').find('.color-preview').css(
                    'background-color', '#' + color);
            }
            $('body').on('change', 'select[name$="rotation"]', function() {
                setColorStopSetsAdmin($(this));
            });

            $('select[name$="rotation"]').each(function(i, elem) {
                setColorStopSetsAdmin($(elem));
            });
        });
    </script>
{% endblock %}
