{% extends 'admin/base_site.html' %}

{% block extrahead %}
    {{ block.super }}

    {{ rotator_colors|json_script:'rotator-colors' }}
    <script>
        var rotatorColors = JSON.parse(document.getElementById(
            'rotator-colors').textContent);

        $(function() {
            /* Rotators admin */
            var setColorRotatorAdmin = function() {
                var color = $('#id_color').val();
                $('.color-preview').css('background-color', '#' + color);
            }

            $('#id_color').change(setColorRotatorAdmin);
            setColorRotatorAdmin();


            /* StopSets admin */
            var setColorStopSetsAdmin = function($elem) {
                var color = rotatorColors[$elem.val()];
                if (!color) {
                    color = 'ffffff';
                }
                $elem.closest('tr, fieldset').find('.color-preview').css(
                    'background-color', '#' + color);
            }
            $('body').on('change', 'select[name$="rotator"]', function() {
                setColorStopSetsAdmin($(this));
            });

            $('select[name$="rotator"]').each(function(i, elem) {
                setColorStopSetsAdmin($(elem));
            });
        });
    </script>
{% endblock %}
