{% extends 'admin/base_site.html' %}

{% load static %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'admin/images/tomato.png' %}" style="height: 40px; width: 40px; image-rendering: pixelated;">
            Tomato Radio Automation
            <img src="{% static 'admin/images/tomato.png' %}" style="height: 40px; width: 40px; image-rendering: pixelated;">
        </a>
    </h1>
{% endblock %}

{% block usertools %}
    {% if config.NO_LOGIN_REQUIRED %}
        <div id="user-tools">
            <strong>No sign in required.</strong>
            Server Time: {% now 'DATETIME_FORMAT' %}
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block welcome-msg %}
    {{ block.super }}
    Server Time: {% now 'DATETIME_FORMAT' %}<br>
{% endblock %}

{% block footer %}
    <div id="footer">
        <hr/>
        <div class="container pull-left">
            <h5 style="text-align: center;">
                {% now 'Y' as year %}
                &copy; Copyright 2019{% if year > '2019' %}-{{ year }}{% endif %}
                <a href="mailto:david.cooper@burningman.org" target="_blank">David Cooper</a>
                &amp; <a href="https://bmir.org/" target="_blank">BMIR</a>.
                All rights reserved.
        </div>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" href="{% static 'admin/images/tomato.png' %}" sizes="48x48" />

    {{ rotator_colors|json_script:'rotator-colors' }}
{% endblock %}


{% block extrastyle %}
    {{ block.super}}
    <style>
      .help {
        font-size: 13px !important;
      }

      {# django-admin-colors -- lite.css theme #}
      #branding h1, #branding h1 a:link, #branding h1 a:visited {
        color: #fff;
      }

      #header {
        background: #79aec8;
        color: #fff;
      }

      #header a:link, #header a:visited {
        color: #e0f3ff;
      }

      div.breadcrumbs {
        background: #f8f8f8;
        color: #999;
      }

      div.breadcrumbs a {
        color: #79aec8;
      }

      div.breadcrumbs a.active {
        color: #999;
      }

      div.breadcrumbs a:focus, div.breadcrumbs a:hover {
        color: #999;
      }
    </style>
{% endblock %}
